body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_TextArt1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#TextArt1
{
   border-width: 0;
   vertical-align: top;
}
#OverlayMenu1
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu1
{
   display: block;
   width: 699px;
   height: 38px;
   position: absolute;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1 .line:first-child
{
   margin-top: 3px;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   background-color: rgba(122,122,122,0.87);
   height: 100%;
   left: 0;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   position: relative;
   top: 50%;
   height: 60%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li 
{
   position: relative;
}
.OverlayMenu1 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover 
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu1-overlay.show
{
   visibility: visible;
   width: 100%;
   -webkit-transition: width 400ms;
   transition: width 400ms;
}
#OverlayMenu1-overlay .OverlayMenu1
{
   position: absolute;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%);
   opacity: 0;
   -webkit-transition: opacity 0.3s 400ms;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu1-overlay.show .OverlayMenu1
{
   opacity: 1;
   -webkit-transition-delay: 400ms;
   transition-delay: 400ms;
}
#OverlayMenu1-overlay.hide .OverlayMenu1
{
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu1 li.drilldown-back:after,
.OverlayMenu1 li > a:not(:only-child):after 
{
   position: absolute;
   top: 15px;
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FFFFFF;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back:after 
{
   left: 9px;
   color: #FFFFFF;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.OverlayMenu1 li.drilldown-back:hover:after,
.OverlayMenu1 li > a:not(:only-child):hover:after 
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after 
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu 
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0px 10px 0px 0px;
}
#wb_Marquee1 
{
   background-color: #EEEEEE;
   background-image: none;
   border: 1px solid #C0C0C0;
   overflow-y: hidden;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Marquee1 div
{
   text-align: center;
}
#wb_Marquee1
{
   overflow: hidden;
   position: relative;
}
#Marquee1
{
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   -webkit-animation: Marquee1-marquee 5000ms linear infinite;
   animation: Marquee1-marquee 5000ms linear infinite;
}
@-webkit-keyframes Marquee1-marquee
{
   0%
   {
   -webkit-transform: translateX(100%);
   }
   100%
   {
   -webkit-transform: translateX(-100%);
   }
}
@keyframes Marquee1-marquee
{
   0%
   {
   transform: translateX(100%);
   }
   100%
   {
   transform: translateX(-100%);
   }
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 175px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   box-shadow: 0px 0px 1px #000000;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#TabMenu1
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   list-style-type: none;
   padding: 15px 0px 4px 10px;
   overflow: hidden;
}
#TabMenu1 li
{
   float: left;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   position: relative;
   font-weight: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu1 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 3px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   -moz-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu1 li a:hover
{
   font-weight: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu1
{
   border-bottom: 1px solid #C0C0C0;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   background-color: #FFFFFF;
   color: #666666;
}
#TabMenu1 li a
{
   border: 1px solid #C0C0C0;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #EEEEEE;
   color: #666666;
}
#TabMenu1 li a:hover
{
   background: #C0C0C0;
   color: #666666;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Pagination1
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
}
#Pagination1 > li
{
   display: inline;
   font-size: 13px;
}
#Pagination1 > li > a, #Pagination1 > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   color: #337AB7;
   margin-left: -1px;
}
#Pagination1 > li:first-child > a, #Pagination1 > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#Pagination1 > li:last-child > a, #Pagination1 > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Pagination1 > li > a:hover, #Pagination1 > li > span:hover, #Pagination1 > li > a:focus, #Pagination1 > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#Pagination1 > .active > a, #Pagination1 > .active > span, #Pagination1 > .active > a:hover, #Pagination1 > .active > span:hover, #Pagination1 > .active > a:focus, #Pagination1 > .active > span:focus
{
   z-index: 2;
   background-color: #337AB7;
   border-color: #337AB7;
   color: #FFFFFF;
   cursor: default;
}
#Pagination1 > .disabled > span, #Pagination1 > .disabled > span:hover, #Pagination1 > .disabled > span:focus, #Pagination1 > .disabled > a, #Pagination1 > .disabled > a:hover, #Pagination1 > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_TextArt2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#TextArt2
{
   border-width: 0;
   vertical-align: top;
}
#wb_TextArt2
{
   margin: 0;
   -webkit-animation: animate-font-size 1000ms linear 2ms 10 normal both;
   -moz-animation: animate-font-size 1000ms linear 2ms 10 normal both;
   animation: animate-font-size 1000ms linear 2ms 10 normal both;
}
#Table1
{
   border: 2px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 62px;
   height: 50px;
   font-size: 0;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 50px;
   font-size: 0;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 61px;
   height: 49px;
   vertical-align: top;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 69px;
   height: 49px;
   vertical-align: top;
}
#wb_Image11
{
   margin: 0;
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 58px;
   height: 47px;
   vertical-align: top;
}
#wb_Image10
{
   margin: 0;
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 61px;
   height: 49px;
   vertical-align: top;
}
#wb_Image10
{
   display: inline-block;
   width: 61px;
   height: 49px;
   z-index: 1;
}
#Editbox1
{
   position: absolute;
   left: 154px;
   top: 182px;
   width: 603px;
   height: 175px;
   z-index: 12;
}
#wb_Image11
{
   display: inline-block;
   width: 58px;
   height: 47px;
   z-index: 2;
}
#wb_TabMenu1
{
   position: absolute;
   left: 153px;
   top: 374px;
   width: 621px;
   height: 61px;
   z-index: 14;
   overflow: hidden;
}
#wb_Text1
{
   position: absolute;
   left: 171px;
   top: 199px;
   width: 585px;
   height: 175px;
   z-index: 13;
}
#wb_Text2
{
   position: absolute;
   left: 154px;
   top: 459px;
   width: 308px;
   height: 45px;
   z-index: 21;
}
#wb_Text3
{
   position: absolute;
   left: 218px;
   top: 1027px;
   width: 126px;
   height: 170px;
   z-index: 22;
}
#wb_Image1
{
   position: absolute;
   left: 218px;
   top: 544px;
   width: 491px;
   height: 465px;
   z-index: 15;
}
#wb_Marquee1
{
   position: absolute;
   left: 101px;
   top: 52px;
   width: 697px;
   height: 36px;
   text-align: center;
   z-index: 11;
   overflow: hidden;
}
#wb_Text4
{
   position: absolute;
   left: 218px;
   top: 1678px;
   width: 284px;
   height: 108px;
   z-index: 23;
}
#wb_Image2
{
   position: absolute;
   left: 220px;
   top: 1774px;
   width: 486px;
   height: 420px;
   z-index: 16;
}
#Table1
{
   position: absolute;
   left: 326px;
   top: 3749px;
   width: 272px;
   height: 57px;
   z-index: 28;
}
#wb_Text5
{
   position: absolute;
   left: 222px;
   top: 2207px;
   width: 240px;
   height: 241px;
   z-index: 24;
}
#wb_Image3
{
   position: absolute;
   left: 223px;
   top: 3050px;
   width: 486px;
   height: 461px;
   z-index: 17;
}
#wb_Text6
{
   position: absolute;
   left: 225px;
   top: 2865px;
   width: 271px;
   height: 196px;
   z-index: 25;
}
#wb_Image4
{
   position: absolute;
   left: 218px;
   top: 1189px;
   width: 491px;
   height: 470px;
   z-index: 18;
}
#wb_Text7
{
   position: absolute;
   left: 223px;
   top: 3539px;
   width: 320px;
   height: 95px;
   z-index: 26;
}
#wb_Image5
{
   position: absolute;
   left: 223px;
   top: 2430px;
   width: 486px;
   height: 421px;
   z-index: 19;
}
#wb_Image6
{
   display: inline-block;
   width: 61px;
   height: 49px;
   z-index: 0;
}
#wb_Pagination1
{
   position: absolute;
   left: 320px;
   top: 3686px;
   width: 428px;
   height: 70px;
   z-index: 20;
}
#wb_Image8
{
   display: inline-block;
   width: 69px;
   height: 49px;
   z-index: 3;
}
#wb_TextArt1
{
   position: absolute;
   left: 248px;
   top: 115px;
   width: 474px;
   height: 47px;
   z-index: 9;
}
#wb_TextArt2
{
   position: absolute;
   left: 174px;
   top: 3763px;
   width: 126px;
   height: 28px;
   z-index: 27;
}
#wb_OverlayMenu1
{
   position: absolute;
   left: 101px;
   top: 2px;
   width: 699px;
   height: 38px;
   z-index: 10;
}
#TextArt1
{
   width: 474px;
   height: 47px;
}
#TextArt2
{
   width: 126px;
   height: 28px;
}
@media only screen and (max-width: 969px)
{
}
